# Общие настройки
TELEGRAM_TOKEN=your_telegram_bot_token_here
ADMIN_IDS=your_admin_id_here

# Настройки БД
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_HOST=your_db_host
POSTGRES_PORT=5432

# Настройки сервисов
BOT_SERVICE_PORT=5000
USER_SERVICE_PORT=5001
ADMIN_SERVICE_PORT=5002
CRYPTO_SERVICE_PORT=5003

DATA_FILE=crypto-service/crypto_prices.json

# Redis settings
REDIS_HOST=your_db_host
REDIS_PORT=6379
REDIS_DB=your_db_name
REDIS_PASSWORD=your_db_password
REDIS_EXPIRE_SECONDS=300