POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
TELEGRAM_TOKEN=
ADMIN_IDS=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_EXPIRE_SECONDS=300
USER_SERVICE_URL=http://user_service:5001
ADMIN_SERVICE_URL=http://admin_service:5002
CRYPTO_SERVICE_URL=http://crypto_service:5003
USER_SERVICE_PORT=5001
ADMIN_SERVICE_PORT=5002
CRYPTO_SERVICE_PORT=5003