.env
crypto_service/crypto_prices.json
admin_service/__pycache__/
bot_service/__pycache__/
crypto_service/__pycache__/
user_service/__pycache__/
__pycache__/
tests/unit/.pytest_cache/
tests/htmlcov/
tests/unit/.coverage
.coverage